<div class="col s12" id="asia">
  <div class="row">

    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Turkey</span>
          <h5>Companies: <span id="toTurkeyCount">?</span></h5>
          <h5>Cost: <span id="toTurkeyCost">?</span></h5>
          <h6>Revenue: <span id="toTurkeyRevenue">?</span><br /><br />
            <div class="card-action">
              <button class="waves-effect waves-light btn" id="toTurkeyButton" disabled
                onClick="Game.expandRegion('Turkey')">Buy Company</button>
            </div>
          </h6>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Indonesia</span>
          <h5>Companies: <span id="toIndonesiaCount">?</span></h5>
          <h5>Cost: <span id="toIndonesiaCost">?</span></h5>
          <h6>Revenue: <span id="toIndonesiaRevenue">?</span><br /><br />
            <div class="card-action">
              <button class="waves-effect waves-light btn" id="toIndonesiaButton" disabled
                onClick="Game.expandRegion('Indonesia')">Buy Company</button>
            </div>
          </h6>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Russia</span>
          <h5>Companies: <span id="toRussiaCount">?</span></h5>
          <h5>Cost: <span id="toRussiaCost">?</span></h5>
          <h6>Revenue: <span id="toRussiaRevenue">?</span><br /><br />
            <div class="card-action">
              <button class="waves-effect waves-light btn" id="toRussiaButton" disabled
                onClick="Game.expandRegion('Russia')">Buy Company</button>
            </div>
          </h6>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Japan</span>
          <h5>Companies: <span id="toJapanCount">?</span></h5>
          <h5>Cost: <span id="toJapanCost">?</span></h5>
          <h6>Revenue: <span id="toJapanRevenue">?</span><br /><br />
            <div class="card-action">
              <button class="waves-effect waves-light btn" id="toJapanButton" disabled
                onClick="Game.expandRegion('Japan')">Buy Company</button>
            </div>
          </h6>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">India</span>
          <h5>Companies: <span id="toIndiaCount">?</span></h5>
          <h5>Cost: <span id="toIndiaCost">?</span></h5>
          <h6>Revenue: <span id="toIndiaRevenue">?</span><br /><br />
            <div class="card-action">
              <button class="waves-effect waves-light btn" id="toIndiaButton" disabled
                onClick="Game.expandRegion('India')">Buy Company</button>
            </div>
          </h6>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">China</span>
          <h5>Companies: <span id="toChinaCount">?</span></h5>
          <h5>Cost: <span id="toChinaCost">?</span></h5>
          <h6>Revenue: <span id="toChinaRevenue">?</span><br /><br />
            <div class="card-action">
              <button class="waves-effect waves-light btn" id="toChinaButton" disabled
                onClick="Game.expandRegion('China')">Buy Company</button>
            </div>
          </h6>
        </div>
      </div>
    </div>

  </div>
</div>