<div class="row">
    <div class="col s8">
      <section id="banner"><img src="/img/logo.png"/></section>
    </div>
    <div class="col s4">
      <h5>Credits: <span id="coins">0</span></h5>
      <h6> Revenue: <span id="revenue">0</span></h6>
      <h6> Odds: <span id="odds">0</span></h6>
      <a class="waves-effect waves-light btn" onClick="Game.workClick()">Work</a>
    </div>
  </div>