<div class="row">
    <div class="col s12">Version
        <span id="game_version">0.0.8</span>
    </div>
    <div class="col s12">
        <a href="#" onclick="Game.resetGame();">Reset Game</a>
    </div>
</div>